<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">Profile</h1>
      <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete All in Once</button>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <ul class="list-group" *ngFor="let config of configs">
          <li class="list-group-item">{{config.username}}  
          </li>

      </ul>
    </div>
  </div>